@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v8ae2y');
  src:  url('../fonts/icomoon.eot?v8ae2y#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?v8ae2y') format('truetype'),
  url('../fonts/icomoon.woff?v8ae2y') format('woff'),
  url('../fonts/icomoon.svg?v8ae2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
  content: "\e915";
}
.icon-error:before {
  content: "\e912";
}
.icon-warning:before {
  content: "\e900";
}
.icon-call:before {
  content: "\e910";
}
.icon-clear:before {
  content: "\e901";
}
.icon-create:before {
  content: "\e911";
}
.icon-filter_list:before {
  content: "\e90f";
}
.icon-access_time:before {
  content: "\e913";
}
.icon-keyboard_arrow_down:before {
  content: "\e90a";
}
.icon-keyboard_arrow_left:before {
  content: "\e90b";
}
.icon-keyboard_arrow_right:before {
  content: "\e90c";
}
.icon-keyboard_backspace:before {
  content: "\e902";
}
.icon-local_grocery_store:before {
  content: "\e903";
}
.icon-arrow_upward:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e90d";
}
.icon-star_outline:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e906";
}
.icon-trending_neutral:before {
  content: "\e907";
}
.icon-arrow_right_alt:before {
  content: "\e908";
}
.icon-location_pin:before {
  content: "\e909";
}
.icon-image:before {
  content: "\e914";
}


// web fonts

//regular

$regular: 'gilroy-regularuploaded_file';

@font-face {
  font-family: 'gilroy-regularuploaded_file';
  src: url('../fonts/web-fonts/gilroy-regular-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-regular-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//regular-italic

$regular-italic:  'gilroy-regularitauploadedfile';

@font-face {
  font-family: 'gilroy-regularitauploadedfile';
  src: url('../fonts/web-fonts/gilroy-regularitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// light
$light: 'gilroy-lightuploaded_file';

@font-face {
  font-family: 'gilroy-lightuploaded_file';
  src: url('../fonts/web-fonts/gilroy-light-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-light-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// light-italic

$light-italic: 'gilroy-lightitaliuploadedfile';

@font-face {
  font-family: 'gilroy-lightitaliuploadedfile';
  src: url('../fonts/web-fonts/gilroy-lightitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Medium

$medium: 'gilroy-mediumuploaded_file';

@font-face {
  font-family: 'gilroy-mediumuploaded_file';
  src: url('../fonts/web-fonts/gilroy-medium-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-medium-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
// Medium italic

$medium-italic: 'gilroy-mediumitaluploadedfile';

@font-face {
  font-family: 'gilroy-mediumitaluploadedfile';
  src: url('../fonts/web-fonts/gilroy-mediumitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
// Semibold

$semibold: 'gilroy-semibolduploaded_file';

@font-face {
  font-family: 'gilroy-semibolduploaded_file';
  src: url('../fonts/web-fonts/gilroy-semibold-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-semibold-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Semibold italic

$semibold-italic: 'gilroy-semiboldituploadedfile';

@font-face {
  font-family: 'gilroy-semiboldituploadedfile';
  src: url('../fonts/web-fonts/gilroy-semibolditalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Thin
$thin: 'gilroy-thinuploaded_file';

@font-face {
  font-family: 'gilroy-thinuploaded_file';
  src: url('../fonts/web-fonts/gilroy-thin-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-thin-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Thin italic

$thin-italic: 'gilroy-thinuploaded_file';

@font-face {
  font-family: 'gilroy-thinitalicuploadedfile';
  src: url('../fonts/web-fonts/gilroy-thinitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-thinitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Ultralight

$ultralight: 'gilroy-ultralightuploadedfile';

@font-face {
  font-family: 'gilroy-ultralightuploadedfile';
  src: url('../fonts/web-fonts/gilroy-ultralight-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Ultralight-italic

$ultralight-italic: 'gilroy-ultralightuploadedfile';

@font-face {
  font-family: 'gilroy-ultralightuploadedfile';
  src: url('../fonts/web-fonts/gilroy-ultralightitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-ultralightitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-ultralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Blackfont

$blackfont: 'gilroy-blackuploaded_file';

@font-face {
  font-family: 'gilroy-blackuploaded_file';
  src: url('../fonts/web-fonts/gilroy-black-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-black-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Blackfont italic

$blackfont-italic: 'gilroy-blackitaliuploadedfile';

@font-face {
  font-family: 'gilroy-blackitaliuploadedfile';
  src: url('../fonts/web-fonts/gilroy-blackitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

//Extrafont

$extrafont: 'gilroy-extrabolduploaded_file';

@font-face {
  font-family: 'gilroy-extrabolduploaded_file';
  src: url('../fonts/web-fonts/gilroy-extrabold-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


// Extrafont italic

$extrafont-italic: 'gilroy-extraboldiuploadedfile';

@font-face {
  font-family: 'gilroy-extraboldiuploadedfile';
  src: url('../fonts/web-fonts/gilroy-extrabolditalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Bold
$boldfont: 'gilroy-bolduploaded_file';


@font-face {
  font-family: 'gilroy-bolduploaded_file';
  src: url('../fonts/web-fonts/gilroy-bold-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-bold-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Bold italic

$boldfont-italic: 'gilroy-bolditalicuploadedfile';

@font-face {
  font-family: 'gilroy-bolditalicuploadedfile';
  src: url('../fonts/web-fonts/gilroy-bolditalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Heavyfont

$heavyfont: 'gilroy-heavyuploaded_file';

@font-face {
  font-family: 'gilroy-heavyuploaded_file';
  src: url('../fonts/web-fonts/gilroy-heavy-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-heavy-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

//Heavyfont italic

$heavyfont-italic: 'gilroy-heavyitaliuploadedfile';

@font-face {
  font-family: 'gilroy-heavyitaliuploadedfile';
  src: url('../fonts/web-fonts/gilroy-heavyitalic-webfont.eot');
  src: url('../fonts/web-fonts/gilroy-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/web-fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),
  url('../fonts/web-fonts/gilroy-heavyitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'bebas_neuebold';
  src: url('../fonts/web-fonts/bebasneue_bold-webfont.eot');
  src: url('../fonts/web-fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/web-fonts/bebasneue_bold-webfont.woff2') format('woff2'),
       url('../fonts/web-fonts/bebasneue_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bebas_neuelight';
  src: url('../fonts/web-fonts/bebasneue_light-webfont.eot');
  src: url('../fonts/web-fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/web-fonts/bebasneue_light-webfont.woff2') format('woff2'),
       url('../fonts/web-fonts/bebasneue_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  