// Bootstrap imports
@import "bootstrap/scss/bootstrap-grid";

// Custom imports

@import 'variables';
@import 'helper';

img {max-width: 100%;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.5em;
}

p + p {
  margin-top: 10px;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.input-error {
  border-color:#e74c3c !important;
}

