$regular:  'gilroy-regularuploaded_file';
$regular-italic: 'gilroy-regularitauploadedfile';
$bold: 'gilroy-bolduploaded_file';
$black: 'gilroy-blackuploaded_file';
$semibold-talic: 'gilroy-semiboldituploadedfile';
$thin-italic: 'gilroy-thinitalicuploadedfile';
$ultralight-italic:  'gilroy-ultralightuploadedfile';
$black-italic: 'gilroy-blackitaliuploadedfile';
$bebas: 'bebas_neuebold';
$bebas-light: 'bebas_neuelight';

$header-bg: #ef4459;
$nav-bg: #d24051;
$basket-bg: #b83645;
$bg: #373b49;
$hover-bg: #d29660;
