$regular:  'gilroy-regularuploaded_file';
$regular-italic: 'gilroy-regularitauploadedfile';
$semibold-talic: 'gilroy-semiboldituploadedfile';
$thin-italic: 'gilroy-thinitalicuploadedfile';
$ultralight-italic:  'gilroy-ultralightuploadedfile';
$black-italic: 'gilroy-blackitaliuploadedfile';
$header-bg: #fff;
$bg-color: #fafafa;
$text-color: #333;
$drop-down-color: #91000a;
$nav-color: #606060;
$nav-color-active: #e3000f;
$elements-color: #ff0058;
$primary-color: #e82c31;
$nav-bg-color: #ebebeb;
$border-color: #d5d5d5;
$footer-bottom: #a01d21;
$weight-color: #999;
$weight-price: #7a7a7a;
$prod-price-btn: #666;

$gradient-btn-top: #ec0947;
$gradient-btn-bottom: #e5021a;