@media (max-width: 1024px) {
    .cart-holder {
        max-width: inherit;
    }
}

@media (max-width: 780px) {
    .cart-holder {
        padding: 32px 30px;
    }
}

@media (max-width: 560px) {
    .cart-holder {
       .order {
           flex-wrap: wrap;
       }
       .order-price-holder {
           margin-top: 20px;
           justify-content: center;
       }
    }

    .half-width {
        width: 100%;
        margin-bottom: 20px;
    }

    .input-holder {
        flex-wrap: wrap;
    }

    .cart-holder .order-total-holder .total-inner .big-sum {
        font-size: 22px;
    }

    .cart-holder .order-total-holder .total-inner {
        align-items: center;
    }
}

@media (max-width: 430px) {
    .cart-holder {
        .order-img {
            margin-bottom: 20px;
        }
        .order-price-holder {
            margin-top: 0;
        }

        .cart-title {
            letter-spacing: 6px;
        }
    }
}

@media (max-width: 380px) {
    .cart-holder {
        .order-price-holder {
          width: 100%;
          justify-content: flex-start;
          margin-top: 20px;
        }
    }
}