@media (max-width: 901px) {
    .top-nav {
        flex-wrap: wrap;
        ul {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1024px) {
    .nav-text {display: none;}
    .hamburger {
        margin-top: 10px;
        padding: 0 20px;
        display: flex;
        margin-right: 0;
        justify-content: center;
        span {
            width: 26px;
            height: 2px;
            &:before {
                width: 19px;
                height: 2px;
                top: -7px;
            }
        &:after {
            width: 26px;
            height: 2px;
            top: 7px;
        }
        }
    }
    .nav-active .hamburger {
        margin-top: 14px;
    }

    .nav-active .hamburger span:after{
        transform: rotate(90deg);
        

    }
}

@media (max-width: 575px) {
    .top-nav {
        ul {
            flex-wrap: wrap;
            li {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}