@media (max-width: 1999px) {
    .product {
        margin-bottom: 30px;
    }
}

@media (max-width: 1607px) {
    .product-wrap .prod-banner-image-holder {
        margin-left: 0;
    }
}

@media (max-width: 1502px) {
    .col-custom {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;  
    }
}

@media (max-width: 1372px) {
    .product-wrap .prod-banner-text {
        padding-left: 20px;
    }
}

@media (max-width: 1241px) {
    .product-wrap .prod-banner-custom-image {
        max-width: 600px;
    }
}

@media (max-width: 1224px) {
    .product-info-holder {
        .info-description {
            max-width: 700px;
            padding: 60px;
        }
    }
}

@media (max-width: 1088px) {
    .product-wrap {
        .price {
            font-size: 50px;
        }  

        .buttons {
            max-width: 430px;
        }

        .order-quantity {
            max-width: 120px;
            .custom-number {
                max-width: 35px; 
            }
        }

        .prod-banner-2 {
            h1 {
                text-shadow: 2px 2px #383838;
            }
            .prod-banner-custom-image {
                display: flex;
                justify-content: flex-end;
                height: inherit;
            }
            .prod-banner-image-holder {
                max-width: 500px;

            }
        }
    }
}

@media (max-width: 1060px) {
    .product-info-holder {
        .info-description {
            max-width: 600px;
            padding: 26px;
            h2 {
                font-size: 50px;  
                .new-line {
                    font-size: 69px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .product-wrap {
        .prod-banner-image {
            position: static;
            margin-top: -124px;
        }

        .prod-banner-1 {
            .prod-banner-text {
                margin-top: -328px;
            }
        }

        .prod-banner-2 {
            .prod-banner-custom-image {
               position: static;
               max-width: inherit;
               display: block;
            }
            .prod-banner-image-holder { 
                margin-top: 0;
                width: 98%;
                margin: auto;
                max-width: inherit;
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            .prod-banner-text {
                margin-top: 60px;
            }
        }

    }
}

@media (max-width: 1021px) {
    .product-wrap {
        .prod-banner-custom-image {
            background: none;
            max-width: 500px;
        }
    }
}

@media (max-width: 988px) {
    .product-info-holder {
        .info-description {
            max-width: 500px;
            padding: 26px;
            h2 {
                font-size: 40px;  
                .new-line {
                    font-size: 59px;
                    display: block;
                }
            }
            .info-list li {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 917px) {
    .product-wrap  {
        padding-top: 124px;
        .prod-banner {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;
        }   

        .prod-banner-text {
            margin-bottom: 20px;
        }

        .prod-banner-custom-image {
            position: relative;
            height: auto;
            .prod-banner-image-holder {
                margin-top: 0;
                margin-bottom: 20px;
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 812px) {
    .product-info-holder {
        margin-bottom: 100px;
        .info-description {
            max-width: inherit;
            padding: 26px;
        }
        .info-image, .stamp {display: none;}
    }

    .product-wrap {
        .prod-banner-1 {
            .prod-banner-text {
                margin-top: -290px; 
            }
        }
    } 

    .product-wrap .prod-banner-text h1 {
        font-size: 107px;
        line-height: .8;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .col-custom {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 618px) {

    .product-wrap {
        .prod-banner-1 {
            .prod-banner-text {
                margin-top: -190px; 
            }
        }
    } 
}
    

@media (max-width: 524px) {

    .product-wrap .prod-banner-text {
        margin-top: -178px;
    }

    .product .prod-title {
        font-size: 27px;
    }

    .product .prod-btn {
        padding: 15px;
    }

    .product .prod-price {
        font-size: 30px;
    }

    .product .prod-icon{
        margin-right: 10px;
    }

    .product-info-holder {
        .info-description {
            .info-list li {
                line-height: 1.5;
            }
        }
    }
}

@media (max-width: 480px) {
    .product .prod-icon {display: none;}
    .product .prod-title {
        font-size: 20px;
    }
    .product .prod-price {
        font-size: 25px;
    }
    .product-info-holder .info-description .info-list li {
        display: flex;
    }

    .product-wrap {
        .prod-banner-1 {
            .prod-banner-text {
                margin-top: -150px; 
            }
        }
    } 
}

@media (max-width: 430px) {
    .product-wrap {
        .buttons {
            flex-wrap: wrap;
        }

        .order-quantity {
            margin-bottom: 20px;
        }
    }

    .product figcaption {
        padding: 23px 5px;
    }
}

@media (max-width: 410px) {
    .product-wrap .prod-banner-text {
        margin-top: -126px;
    }

    .product-wrap .prod-banner-text h1 {
        font-size: 73px;
    }
}

@media (max-width: 380px) {
    .col-custom {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width: 436px) {
    .product-info-holder {
        .info-description {
            h2 {
                font-size: 30px;
                .new-line {
                  font-size: 44px;  
                }
            }
            .info-list li {
                line-height: 1.5;
            }
        }
    }
}
