.product {
    &:hover {
        .prod-btn {
            background: #d29660;
            border-color: #d29660;
        }

        .prod-image {
            &:before, &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    a {
        display: block;
    }
    figure {
        margin-bottom: 12px;
    }
    figcaption {
        color: #fff;
        background: $header-bg;
        padding: 23px 14px;
    }

    .prod-title {
        display: block;
        color: #fff;
        text-decoration: none;
        font-family: $bebas;
        font-size: 30px;
        margin-bottom: 8px;
        text-align: center;
    }

    .prod-price {
        display: block;
        text-align: center;
        font-size: 41px;
    }

    .price-description {
        font-size: 14px;
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    .nav-holder .col-custom{ display: flex; align-items: stretch; }
    .product{ display: flex;  flex-direction: column;}


    .prod-image {
        position: relative;
        flex-shrink: 0;
        display: flex;
        img {
            object-fit: cover;
            width: 100%;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
        }

        &:after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../img/right-arrow.png') no-repeat;
            width: 37px;
            height: 17px;
        }

        &:before{
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(239, 68, 89, .61);
        }
    }

    .prod-btn {
        background: none;
        border: 3px solid #ef4459;
        font-size: 12px;
        display: flex;
        @extend .flex-container;
        @extend .v-center;
        justify-content: center;
    }

    .prod-icon {
        background: url('../img/basket-hover.png') no-repeat;
        width: 14px;
        height: 17px;
        display: block;
        transition: all .3s;
        margin-right: 23px;
    }

    .badges {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        flex-wrap: wrap;

    }
    .offer {
        border-radius: 10px;
        border-bottom-left-radius: 0;
        color: #fff;
        padding: 8px;
        font-size: 16px;
        font-family: $bebas;
        margin-bottom: 10px;
        width: 100%;
         max-width: 115px;
        &.offer-choise {
            background: #ff9600;
           
        }

        &.offer-top {
            background: #13cef6;
        }
    }
}

.product-info-holder {
    max-width: 1371px;
    padding: 0 ;
    margin: auto;
    @extend .flex-container;
    position: relative;
    margin-bottom: 287px;
    box-shadow: rgba(24, 26, 35, 0.78) 0px 25px 50px -12px;
  
    .stamp {
        position: absolute;
        right: 64px;
        bottom: -113px;
    }
    .info-image {
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .info-description {
        max-width: 811px;
        width: 100%;
        background: $header-bg;
        padding: 102px 106px;
        color: #fff;

        h2 {
            font-family: $bebas;
            font-size: 63px;
            margin-bottom: 11px;
            .new-line {
                font-size: 85px;
            }
        }


        .info-list {
            margin-top: 53px;
            list-style:  none;
            font-family: $bebas;
            font-size: 34px;
            text-transform: uppercase;
            li {
                margin-bottom: 15px;
                font-size: 34px;
                &:before {
                    content: attr(data-num);
                    display: inline-block;
                    margin-right: 7px;
                    font-family: $bebas-light;
                }
            }
        }
    }
}

.product-wrap {
    padding-top: 100px;

    .prod-banner {
        margin-bottom: 137px;
    }

    .price-holder {
        margin-bottom: 11px;
        display: block;
    }

    .prod-banner-text {
        padding-left: 139px;
        color: #fff;
        position: relative;
        z-index: 1;
        max-width: 780px;
        h1 {
            font-size: 101px;
            text-transform: uppercase;
            font-family: $bebas;
        }
    }

    .prod-desc, .prod-quantity {
        display: block;
    }

    .prod-quantity {
        font-size: 17px;
        font-family: $bold;
        margin-bottom: 16px;
    }

    .prod-desc {
        max-width: 484px;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 39px;
    }

    .price {
        font-size: 87px;
        color: #ef4459;
        span {
            font-size: 38px;
        }
    }

    .price-label {
        &:after {
            content: '/';
            margin: 0 4px;
            font-size: 16px;
            color: #fff;
        }

        &:last-child {
            &:after {
                content: '';
                margin: 0;
            }
        }
    }

    .btn-desc {
        font-family: $bold;
        font-size: 12px;
        display: block;
        margin-bottom: 14px;
    }

    .order-quantity {
        background: none;
        border: 1px solid #ef4459;
        max-width: 162px;
        width: 100%;
        display: flex;
        margin-right: 30px;
        .minus-btn, .plus-btn {
            display: block;
            padding: 28px 15px;
            cursor: pointer;
            font-size: 20px;
        }
        .custom-number {
            background: none;
            color: #fff;
            border: none;
            max-width: 82px;
            text-align: center;
            font-size: 20px;
            &:focus {
                outline: none;
            }
        }
    }

    input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .buttons {
            @extend .flex-container;
            max-width: 530px;
            width: 100%;
            align-items: baseline;
        }

        .prod-banner-btn {
            @extend .flex-container;
            align-items: center;
            justify-content: center;
            padding: 32px 25px;
            margin-bottom: 12px;
            background: #ef4459;
            &:hover {
                background: #de3f53;
            }
        }

        .prod-icon {
            background: url('../img/basket-hover.png') no-repeat;
            width: 14px;
            height: 18px;
            display: block;
            margin-right: 18px;
        }

        .btn-wrap {
            width: 100%;
        }

        .btn-desc-wrap {
            @extend .flex-container;
            align-items: center;
            .btn-desc {
                max-width: 74px;
                width: 100%;
                margin-bottom: 0;
                margin-right: 12px;
            }
            a {
                color: #fff;
                text-decoration: none;
                font-size: 29px;
                font-family: $bebas;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .prod-banner-image{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        }

        .offers-title {
            .line-bg:before, .line-bg:after{
                width: 40.5%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .prod-banner-custom-image {
            background: url('../img/prod-bg.png') no-repeat right top;
            position: absolute;
            right: 0;
            height: 751px;
            max-width: 758px;
            width: 100%;
            top: 0;
            z-index: 0;
        }

        .prod-banner-image-holder {
            background: #fff;
            padding: 14px;
            display: inline-block;
            margin-top: 149px;
            margin-left: -58px;
        }
}

.product{ display: flex;  flex-direction: column;}

.product .prod-image { 
    display: flex;
    flex-shrink: 0;
}
.product figcaption{ 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.product figure{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.product .prod-title{ display: flex;  flex-grow: 1; }
