.slider-holder {
    background: url('../img/slider-bg.jpg') no-repeat top right;
    min-height: 698px;
    max-width: 1920px;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
}

#top-slider {
    .splide__arrows {display: none;}

    .slider-wrap {
        @extend .flex-container;
        justify-content: flex-end;
        position: relative;
        min-height: 791px;
    }

    .slide-image-holder {
        position: absolute;
        left: 0;
        top: 0;
        min-height: 791px;
        img {
            max-width: inherit;
            width: auto;
        }
    }

    .slide-text-holder {
        padding-top: 163px;
        position: relative;
        max-width: 670px;
        @media (min-width: 1000px) {
            min-width: 670px;
        }
        margin-right: 267px;
    }
    
    .slider-title {
        font-family: $bebas;
        font-size: 107px;
        color: #fff;
        margin-bottom: 66px;
    }

    

    .price-description {
        max-width: 484px;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 39px;
        color: #fff;
        margin: 20px 0 10px;
        display: block
    }

    .slider-price-holder {
        @extend .flex-container;
        align-items: flex-end;
        .slider-btn {
            background: none;
            border: 2px solid #ef4459;
            text-align: center;
            text-decoration: none;
            transition: all .3s ease;
            @extend .flex-container;
            justify-content: center;
            align-items: center;
            max-width: 290px;
            .slider-btn-icon {
                background: url('../img/basket-hover.png') no-repeat;
                width: 14px;
                height: 17px;
                display: block;
                transition: all .3s;
                margin-right: 23px;
            }
            &:hover {
                background: #fff;
                border-color: #fff;
                color: #ef4459;
                .slider-btn-icon {
                    background-position: 0 -26px;
                }
            }
        }
        .slider-price {
            width: 100%;
            margin-right: 20px;
        }
        .price {
            font-size: 87px;
            color: #ef4459;
            @extend .flex-container;
            align-items: flex-end;
            line-height: .7;
            margin-top: 38px;
        }

        .currency {
            font-size: 38px;
            display: block;
            margin-right: 10px;
        }

        .per-item {
            font-size: 16px;
            color: #fff;
            &:before {
                content: "/";
                display: inline-block;
                margin-right: 7px;
                color: #fff;
            }
        }
    }

    .splide__progress{
        right: 0;
        width: 100%;
        position: absolute;
        max-width: 49%;
        right: 0;
        z-index: 0;
        flex: 0 0 49%;
        bottom: 60px;
        background: #fff;
        .splide__progress__bar {
            background: #ef4459;
        }
    }

    .pagination {
        @extend .flex-container;
        list-style: none;
        position: absolute;
        bottom: 40px;
        right: 837px;
        li {
            margin-right: 46px;
            &:last-child {
                margin-right: 0;
            }
        }

        .splide__pagination__page.is-active {
            transform: scale(1);
            color: #ef4459;
            position: relative;
            &:after {
                width: 100%;
            }
        }
        .splide__pagination__page {
            background: none;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            opacity: 1;
            display: inline-block;
            width: auto;
            height: auto;
            padding-bottom: 33px;
            position: relative;
            transition: all .3s ease;
            &:after {
                content: '';
                background: #ef4459;
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                transition: all .3s ease;
            }
            &:hover {
                color: #ef4459;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

.old-price {
    @extend .flex-container;
    color: #fff;
    margin-top: 20px;
    .old-price-num {
        font-size: 64px;
        text-decoration: line-through;
        line-height: .8;
    }

    .old-currency {
        font-size: 24px;
        @extend .flex-container;
        align-items: flex-end;
    }
}