@media (max-width: 1897px) {
    .slider-holder {
        .splide__progress {
            bottom: 155px;
        }

        .pagination {
            bottom: 133px;
        }
    }
}

@media (max-width: 1800px) {
    #top-slider  {
        .splide__progress {
            flex: 0 0 100%;
            max-width: 54%;
        }
    }
}

@media (max-width: 1665px) {
    #top-slider  {
        .pagination {
            right: 274px;
        }
        .splide__progress {
            flex: 0 0 100%;
            max-width: 60%;
        }
    }
}


@media (max-width: 1500px) {
    .slider-holder {
        background: none;
    }
    #top-slider  {
        .slide-text-holder {
            margin-right: 20px;
        }
        .pagination {
            right: 20px;
        }
        .splide__progress {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media (max-width: 1200px) {
    #top-slider {
        .slide-image-holder {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .4);
            }
        }
    }
}


@media (max-width: 980px) {
    #top-slider{
        .slider-price-holder {
            .slider-price {
                width: auto;
                margin-right: 20px;
            }
        }

        .price-num, .currency, .per-item, .old-price-num, .old-currency, .price-description {
            text-shadow:  0 0 10px rgba(0,0,0,.7);
        }
        
        .slide-text-holder {
            max-width: inherit;
            padding: 0 20px;
            margin: auto;

        }
    }
}

@media (max-width: 780px) {
    #top-slider  {
        .slide-text-holder {
            margin-top: 236px;
        }
       
        .slider-title {
            font-size: 70px;
        }
    }
}


@media (max-width: 710px) {
    #top-slider .splide__progress {
        bottom: 80px; 
    }
    #top-slider  {
        .slide-text-holder {
            margin-top: 131px;
        }

        .slider-title, .price-description {
            text-align: center;
            width: 100%;
            display: block;
            max-width: inherit;
        }

        .old-price {
           display: flex;
           justify-content: center;
        }

        .pagination {
            left: 50%;
            right: inherit;
            bottom: 58px;
            transform: translateX(-50%);
        }
       
        .slider-price-holder {
            flex-wrap: wrap;
            justify-content: center;
            .price {
                justify-content: center;
            }
            .slider-price {
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 657px) {
    #top-slider  {
        .splide__progress {
            bottom: 90px;
        }
        .slide-image-holder {
            min-height: inherit;
        }
        .pagination {
            bottom: 70px;
        }
        .slider-title{
            margin-bottom: 0;
        }
        .slide-text-holder {
            margin-top: 140px;
        }
    }
}

@media (max-width: 480px) {
    #top-slider  {
       .slider-title {
            font-size: 55px; 
       } 
       .slider-price-holder {
           .price {
                font-size: 55px;
           }
       }
    }

    #top-slider .splide__progress {
        bottom: 0 !important;
    }

    #top-slider .pagination {
        bottom: -20px !important;
    }
}